<html>
  <head>
    <script type="text/javascript">
        async function getData(url = "") {
    
        const response = await fetch(url, {
        method: "GET",
        mode: "no-cors",
        headers: {
            "Content-Type": "application/json"
        }
        });

        //return response.json();
        document.getElementById('output').innerHTML = JSON.stringify(response, null, 4);

        }

        async function showCF() {
  
        const content = await getData("https://ai.deonarine.com");
        document.getElementById('output').innerHTML = JSON.stringify(content, null, 4);

        }
    </script>
  </head>
  <body onload="showCF()">
    <textarea rows="7" id="output" style="display:table-cell; width:100%"></textarea>
  </body>
</html>