<html>
  <head>
    <script type="text/javascript">
      async function showCF(url = "https://cf.deonarine.com") {
        
        const response = await fetch(url, {
          method: "GET",
          mode: "cors",
          headers: {
            'Content-Type': 'application/json'
          },
        });
        console.log(response)
        const getDataRes = await response.json();
        document.getElementById('output').innerHTML =  JSON.stringify(getDataRes, null, 4);

      }
    </script>
  </head>
  <body onload="showCF()">
    <textarea rows="30" id="output" style="display:table-cell; width:100%; white-space:pre-line;"></textarea>
  </body>
</html>