<form onsubmit="submitPrompt();return false" id="text_input">
    <h3>Try this LLM from your browser</h3><br>
      Enter Prompt: <br>
      <textarea rows="7" id="user_input" style="display:table-cell; width:100%"></textarea>
      <br><br>  
      <input type="submit" value="Fetch Result">
    </form> 


<script>

  async function postData(url = "", data = {}) {
    
    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data),
    });

  return response.json();

  }

  async function submitPrompt() {
  
    var user_prompt = document.getElementById('user_input');
    const content = await postData("https://ai.deonarine.com", { prompt: user_prompt });
    document.getElementById('output').innerHTML = content.response;

  }

</script>

<br><br>  

<textarea rows="7" id="output" style="display:table-cell; width:100%"></textarea>